<!-- <div class="dashboard__container">
    <div [ngClass]="isAlertOpen? 'alert__section':'hidden'">
            <svg class="mt-[5px]" width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.02513 2.05021C0.658291 3.41705 0.658291 5.63312 2.02513 6.99996L8.00004 12.9749L13.9749 6.99996C15.3417 5.63312 15.3417 3.41705 13.9749 2.05021C12.608 0.683377 10.392 0.683377 9.02513 2.05021L8.00004 3.07538L6.97487 2.05021C5.60804 0.683377 3.39196 0.683377 2.02513 2.05021Z" stroke="#22C55E" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        <div class="ml-6 flex flex-col gap-2">
            <h3 class="text-[#166534]">Alert line which displays the main function or reason of the alert.</h3>
            <h3 class="text-[#15803D]">Become a legendary UX/UI designer through real world and practical courses.</h3>
            <div class="flex gap-3 text-[#166534] pb-1">
                <button class="action__btn">Action 1</button>
                <button class="action__btn">Action 2</button>
            </div>
        </div>
            <svg class="absolute top-4 right-4 cursor-pointer" (click)="closeFunction()" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 11L11 1M1 1L11 11" stroke="#22C55E" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
    </div>

    <div class="tab__section">
        <div class="tab__btn">
            <button (click)="tabFunction('science')" class="active">Science</button>
            <button (click)="tabFunction('commerce')" class="">Commerce</button>
            <button (click)="tabFunction('arts')" class="">Arts</button>
        </div>
        <div class="tab__content">
            <div class="subject__card" *ngFor="let subject of subjectArrayScience">
                <img [src]="'assets/images/'+subject.icon" alt="">
                <h2>{{subject.name}}</h2>
                <h4>{{subject.totalVideo}} videos</h4>
            </div>
        </div>
    </div>
</div> -->
<button (click)="logOut()" class="rounded p-5 bg-slate-500 m-5 text-xl font-medium text-white">Logout</button>
<app-task-list></app-task-list>

<!-- <div class="flex justify-center mt-20 p-8"><button (click)="playNotification()" class="bg-green-400 p-8 rounded">Play Notification</button></div> -->

<!-- <div class="outCircle">
  <div class="rotate">
    <div class="counterrotate">
      <div class="inner">hello</div>
    </div>
  </div>
</div> -->